@tailwind base;
@tailwind components;
@tailwind utilities;
@import '_colors';


body {
  background-color: $primaryColor;
}

.chat-box{
  height: 750px;
}

.list-box{
  height: 570px;
}

.message-box{
  height: 550px;
}

.reset-password-box{
  height: 630px;
}